@font-face {
font-family: 'Orbitron-Regular';
src:
    local('Orbitron-Regular'),
    url('Orbitron-Regular.ttf');
}

@font-face {
font-family: 'Raleway-Regular';
src:
    local('Raleway-Regular'),
    url('Raleway-Regular.ttf');
}
html {
    display:relative;
}
body {
    margin: 0px;
    overflow: hidden;
}

.map {
    height:100vh;
    width:100%;
    position: absolute;
    z-index: 0;
}

.nav {
    width: 100%;
    height: 3.750em;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(188,228,133,0.65);
    color: white;
    line-height: 3.750em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.main {
    margin: 0;
    padding: 0 0 0 1em;
    font-family: 'Orbitron-Regular';
    font-size: 1.5em;
    float:left;
}

.sub {
    padding: 0 0 0 1.5em;
    float:left;
    font-family: 'Orbitron-Regular';
    font-size: 0.75em;
}

.links {
    text-decoration: none;
    font-family: 'Orbitron-Regular';
    float:right;
    color: white;
    padding: 0 1em 0 0;

}

.ol-zoom {
    position: absolute;
    bottom: 60px;
    left: 20px;
    top: auto;
}

button.ol-zoom-in{
    background-color:rgba(188,228,133,0.65);
}

button.ol-zoom-out{
    background-color:rgba(188,228,133,0.65);
}
.ol-scale-line {
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: auto;
    background-color:rgba(188,228,133,0.65);
}

.selectContainer {
    z-index: 1;
    position: absolute;
    top: 3.75em;
    left: 1em;
}
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    z-index: 1;
    position: absolute;
    top: 3.75em;
    left: 1em;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    z-index: 1;
    position: absolute;
    top: 3.95em;
    left: 1em;
}

.text-shadow{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(188,228,133,0.65);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	padding-top: 40px;
	border-radius: 10px;
	bottom: 12px;
	left: -50px;
	min-width: 300px;
	z-index: 100;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
	color: #d3d3d3;
	transition: color 0.5s ease;
}
.ol-popup-closer:hover {
	color: black;
}
.ol-popup-arrow {
	text-decoration: none;
	position: absolute;
	top: 50%;
	color: #d3d3d3;
	transition: color 0.5s ease;
	font-size: 22px;
}
.ol-popup-arrow:hover {
	color: black;
}
.popup-content {
	padding-left: 20px;
	padding-right: 20px;
	font-family: Raleway-Regular;
	color: #00305B;
	max-height: 250px;
	overflow-y: scroll;
}
.popup-content img {
	width: 100%;
}
.popup-header {
	width: 100%;
	background-color: #efebe5;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.popup-tab {
	text-align: center;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: white;
    cursor: pointer;
}
.popup-tab:hover {
	color: #2f4f4f;
}
.snap{
    background-color: rgba(188,228,133,0.65);
    opacity: 60%;
    color: white;
    cursor:pointer;
}